.main {
  margin: 20px auto;
  display: block;
  width: 800px;
}

.nav-wrapper {
  width: 100%;
  background-color: black;
}

.nav {
  margin: 0 auto;
  background-color:black;
  color: white;
  width: 1000px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  align-content: flex-end;
}